.navbar {
    background-color: #647295;
    border-bottom: 1px solid #647295;
}

.navbar-nav a .react {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.navbar-nav a .react-sel {
    margin-right: 10px;
    text-decoration: none;
    padding: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* .navbar-nav a .react:hover {
    margin-right: 10px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
} */